@media (min-width: 0) {
  .navbar-header {
    float: none; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important; } }

/*==========  Desktop First Method  ==========*/
/* Custom Media Queries */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /*.header-content
    margin-top: 200px !important */
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-title {
    font-size: 35px !important; }
  .slider img {
    width: 100% !important; }
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header-title {
    font-size: 25px !important; }
  .header-content {
    margin-top: 50% !important; }
  /**/ }

/* Custom Media Queries */
@media only screen and (max-width: 520px) {
  .header-title {
    font-size: 20px !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header-title p {
    white-space: normal !important; }
  .glass {
    margin-top: 20px !important; }
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #505050; }

header {
  width: 100%;
  height: 100vh;
  background-color: #eff0f2;
  margin: 0;
  padding: 0; }

a {
  color: #505050;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.s-gray {
  background-color: #f9fbfb; }

.s-white {
  background-color: #fff; }

.section {
  padding: 130px 0 90px 0; }
  .section h2, .section h2 + p {
    text-align: center;
    text-transform: uppercase; }
  .section h2 {
    font-size: 38px;
    font-weight: bold; }
  .section h2 + p {
    font-size: 18px; }

.top-menu {
  margin-top: 60px; }
  .top-menu .navbar-toggle span {
    background-color: #606061; }

.header-button {
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 45px;
  border: 2px solid #606061;
  text-align: center; }
  .header-button .div-header-button {
    display: block;
    margin-top: 150px; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none; }

#navbar-main {
  margin-top: 10px; }
  #navbar-main ul li {
    text-align: center; }
    #navbar-main ul li a {
      color: #505050; }
    #navbar-main ul li a:hover {
      background-color: #fff; }

.header-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 45px; }
  .header-title p {
    white-space: nowrap;
    text-shadow: 4px 4px 10px #999; }
  .header-title span {
    background-color: #b7faf4; }

.div-header-button {
  margin-top: 10%; }

.header-content {
  margin-top: 20%; }

.amazing-works {
  padding: 0 20px; }
  .amazing-works h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: bold; }
  .amazing-works p {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 28px; }

.about-slider img {
  display: block;
  width: 100%;
  height: auto; }

.owl-theme .owl-controls .owl-page.active span {
  background-color: #71f6eb; }

.owl-theme .owl-controls .owl-page span {
  background-color: #d0d0d0;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin: 5px 2px; }

.works {
  margin-top: 120px; }
  .works .item {
    margin-bottom: 30px; }
    .works .item img {
      width: 100%;
      height: auto; }

.s-our-service .h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700; }

.s-our-service p {
  font-size: 16px;
  line-height: 28px; }

.blue-block {
  position: relative; }

.block, .blue-block {
  background-color: #70f5eb;
  padding: 60px; }

.close {
  position: relative;
  float: none;
  display: block;
  margin-top: 60px;
  width: 15px;
  height: 15px;
  opacity: 0.3; }

.close:hover {
  opacity: 1; }

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333; }

.close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.know-more {
  text-transform: uppercase;
  font-size: 18px; }

.s-our-service .s-item {
  max-height: 420px;
  overflow: hidden;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid red; }
  .s-our-service .s-item img {
    min-width: 100%;
    height: 100%;
    z-index: 1; }
  .s-our-service .s-item .content {
    z-index: 999; }

.item-1 {
  background: url("../img/service/1.png") no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.item-2 {
  background: url("../img/service/2.png") no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
