// Bootstrap
@media (min-width: 0) 
  .navbar-header 
      float: none
  
  .navbar-left,.navbar-right 
      float: none !important
  
  .navbar-toggle 
      display: block
  
  .navbar-collapse 
      border-top: 1px solid transparent
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1)
  
  .navbar-fixed-top 
      top: 0
      border-width: 0 0 1px
  
  .navbar-collapse.collapse 
      display: none!important
  
  .navbar-nav 
      float: none!important
      margin-top: 7.5px
  
  .navbar-nav>li 
      float: none
  
  .navbar-nav>li>a 
      padding-top: 10px
      padding-bottom: 10px
  
  .collapse.in
      display: block !important


/*==========  Desktop First Method  ==========*/

/* Custom Media Queries */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  /*.header-content
    margin-top: 200px !important
  /**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .header-title
    font-size: 35px !important
  //.header-content
  //  margin-top: 50% !important
  .slider
    img
      width: 100% !important
  /**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .header-title
    font-size: 25px !important
  .header-content
    margin-top: 50% !important
  /**/

/* Custom Media Queries */
@media only screen and (max-width: 520px)
  .header-title
    font-size: 20px !important

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .header-title
    p
      white-space: normal !important
  .glass
    margin-top: 20px !important
  /**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  /**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  /**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  /**/

