@import vars
@import media

*
  box-sizing: border-box

body
  background-color: #fff
  margin: 0
  padding: 0
  color: $text_color

header
  width: 100%
  height: 100vh
  background-color: $color_header_section
  margin: 0
  padding: 0

a
  color: $text_color
  text-decoration: none

a:hover
  text-decoration: none

.s-gray
  background-color: $gray_section

.s-white
  background-color: #fff

.section
  padding: 130px 0 90px 0
  h2, h2 + p
    text-align: center
    text-transform: uppercase
  h2
    font-size: 38px
    font-weight: bold
  h2 + p
    font-size: 18px

//.content
//  padding-top: 140px

.top-menu
  margin-top: 60px
  .navbar-toggle
    span
      background-color: $grey_color

.header-button
  text-transform: uppercase
  font-size: 18px
  padding: 15px 45px
  border: 2px solid $grey_color
  text-align: center
  .div-header-button
    display: block
    margin-top: 150px

.navbar-default .navbar-collapse,
.navbar-default .navbar-form
  border: none

#navbar-main
  margin-top: 10px
  ul
    li
      text-align: center
      a
        color: $text_color
      a:hover
        background-color: #fff

.header-title
  text-transform: uppercase
  text-align: center
  font-size: 45px
  p
    white-space: nowrap
    text-shadow: 4px 4px 10px #999
  span
    background-color: lighten($accent_green_color, 15%)

.div-header-button
  margin-top: 10%

.header-content
  margin-top: 20%
//transform: translateY(-50%)


//************************************ ABOUT US **********************************

.amazing-works
  padding: 0 20px
  h4
    font-size: 20px
    text-transform: uppercase
    margin-bottom: 25px
    font-weight: bold
  p
    font-size: 16px
    margin-bottom: 25px
    line-height: 28px

.about-slider img
  display: block
  width: 100%
  height: auto

//.owl-pagination .active span
.owl-theme .owl-controls .owl-page.active span
  background-color: #71f6eb

.owl-theme .owl-controls .owl-page span
  background-color: #d0d0d0
  border-radius: 4px
  margin: 5px 2px

//************************************ FEATURED WORKS **************************

.works
  margin-top: 120px
  .item
    margin-bottom: 30px
    img
      width: 100%
      height: auto

//************************************ OUR SERVICE ***************************

.s-our-service
  .h4
    text-transform: uppercase
    font-size: 20px
    font-weight: 700
  p
    font-size: 16px
    line-height: 28px

.blue-block

  position: relative

.block, .blue-block
  background-color: #70f5eb
  padding: 60px

.close
  position: relative
  //left: 0
  float: none
  display: block
  margin-top: 60px
  //bottom: 0
  width: 15px
  height: 15px
  opacity: 0.3

.close:hover
  opacity: 1

.close:before, .close:after
  position: absolute
  left: 15px
  content: ' '
  height: 20px
  width: 2px
  background-color: #333

.close:before
  transform: rotate(45deg)

.close:after
  transform: rotate(-45deg)

.know-more
  text-transform: uppercase
  font-size: 18px

.s-our-service
  .s-item
    max-height: 420px
    overflow: hidden
    padding: 15px
    margin-bottom: 20px
    border: 1px solid red

    //position: relative
    //padding-bottom: 60px
    img
      //position: absolute
      min-width: 100%
      height: 100%
      z-index: 1
    .content
      z-index: 999


.item-1
  background: url('../img/service/1.png') no-repeat
  background-size: cover
.item-2
  background: url('../img/service/2.png') no-repeat
  background-size: cover

//.item-3
  //  background: url('../img/service/3.png')
  //.item-4
  //  background: url('../img/service/4.png')
  //.item-5
  //  background: url('../img/service/5.png')
  //.item-6
  //  background: url('../img/service/6.png')


